@font-face {
  font-family: "TTLakes-Regular";
  src: url("font/TTLakes-Regular.ttf");
}
body {
  background-color: #f8f8f8;
  font-family: "TTLakes-Regular";
  margin: 0px;
}
.title {
  min-width: 320px;
  border-top: 1px solid #d9fff5;
  background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
}
.title h1 {
  display: flex;
  align-items: center;
  color: #7e7e82;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  font-size: 16px;
}
.lenovo {
  margin-left: 15px;
  width: 108px;
  height: 32px;
}
.samsung {
  margin-left: 15px;
  width: 116px;
  height: 38.52px;
}
.apple {
  margin-left: 15px;
  width: 44px;
  height: 44px;
}
.bosch {
  margin-left: 15px;
  width: 128px;
  height: 28.6px;
}
.hp {
  margin-left: 15px;
  width: 52px;
  height: 52px;
}
.acer {
  margin-left: 15px;
  width: 94px;
  height: 24px;
}
.view-sonic {
  margin-left: 15px;
  width: 128px;
  height: 21px;
}
.sony {
  margin-left: 15px;
  width: 128px;
  height: 25.6px;
}
.btn-next {
  margin: 0 15px;
  border: none;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
}
@media (min-width: 320px), (max-width: 768px) {
  .showBtn,
  .hideBtn,
  .main-second-style__grid,
  .grid--elements {
    display: none;
  }
  .title {
    display: flex;
    height: 56px;
    padding-left: 16px;
  }
  .swiper {
    width: 100%;
    height: 154px;
    margin: 20px auto;
  }
  .swiper-wrapper {
    gap: 10px;
    display: flex;
    align-items: center;
    color: white;
    width: 240px;
    height: 72px;
  }
  .swiper-slide {
    gap: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    width: 240px !important;
    height: 72px;
    margin: 0 16px;
  }
  .swiper-pagination {
    color: #dddddd;
  }
}
@media (min-width: 768px) {
  .swiper,
  .swiper-wrapper,
  .swiper-wrapper,
  .swiper-pagination {
    display: none;
  }
  .title {
    display: flex;
    height: 56px;
    margin-bottom: 25px;
    padding-left: 24px;
  }
  .main-second-style__grid {
    display: grid;
    margin: 0 24px;
    grid-template-columns: repeat(3, minmax(224px, 1fr));
    grid-template-rows: repeat(2, 72px);
    row-gap: 24px;
  }
  .grid--elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 224px;
    height: 72px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
  }
  .grid-hidden-elements {
    display: grid;
    grid-template-columns: repeat(3, minmax(224px, 1fr));
    grid-template-rows: repeat(1, 72px);
    overflow: hidden;
    height: 0;
    margin: 24px 24px 0 24px;
  }
  .showBtn {
    margin: 24px 0 0 24px;
    width: 134px;
    height: 24px;
    display: flex;
    border: none;
    color: #1b1c21;
    background-color: #f8f8f8;
    line-height: 24px;
    letter-spacing: -0.2px;
    position: fixed;  
    top: 250px;
    left:5px;  
  }
  .hideBtn {
    margin: 24px 32px 0 24px;
    width: 88px;
    height: 24px;
    display: flex;
    border: none;
    color: #1b1c21;
    background-color: #f8f8f8;
    line-height: 24px;
    letter-spacing: -0.2px;
    overflow: hidden;
    height: 0;
    position: fixed;
    top: 345px;
    left: 5px;
  }
}
@media (min-width: 1120px) {
  .swiper,
  .swiper-wrapper,
  .swiper-wrapper,
  .swiper-pagination {
    display: none;
  }
  .desktop-version-elements {
    display: flex !important;
    justify-content: space-between;
  }
  .title {
    height: 56px;
    margin-bottom: 25px;
    padding-left: 32px;
  }
  .main-second-style__grid {
    display: grid;
    margin: 0 32px;
    grid-template-columns: repeat(4, minmax(240px, 1fr));
    grid-template-rows: repeat(2, 72px);
    row-gap: 24px;
  }
  .grid--elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 72px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
  }
  .grid-hidden-elements {
    display: grid;
    grid-template-columns: repeat(4, minmax(240px, 1fr));
    grid-template-rows: repeat(1, 72px);
    overflow: hidden;
    height: 0;
    margin: 24px 32px 0 32px;
  }
  .showBtn {
    margin: 24px 0 0 32px;
    width: 134px;
    height: 24px;
    display: flex;
    border: none;
    color: #1b1c21;
    background-color: #f8f8f8;
    line-height: 24px;
    letter-spacing: -0.2px;
    position: fixed;  
    top: 250px;
    left: 5px;
  }
  .hideBtn {
    margin: 24px 0 0 32px;
    width: 88px;
    height: 24px;
    display: flex;
    border: none;
    color: #1b1c21;
    background-color: #f8f8f8;
    line-height: 24px;
    letter-spacing: -0.2px;
    overflow: hidden;
    height: 0;
    position: fixed;
    top: 345px;
    left: 5px;
  }
}
