@font-face {
  font-family: "Barlow";
  src: url("/font/Barlow-Regular.otf") format("opentype");
}
body {
  font-family: "Barlow";
  background-color: white;
}
.container {
  background-image: url("/img/bg.jpg");
  width: 759px;
  height: 980px;
  position: relative;
}
.main-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
}
.left-side {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo {
  position: absolute;
  width: 200px;
  height: 100px;
  padding-top: 10px;
  padding-left: 40px;
}
.title {
  color: #7b8a92;
  padding-top: 15px;
  margin-top: 15px;
}
.text {
  padding-top: 15px;
  margin-top: 15px;
  color: #96a5b1;
}
.texts {
  padding: 20px;
  margin: 20px;
  margin-left: 50px;
}
.social-container {
  display: flex;
  gap: 110px;
  align-items: center;
  margin-left: 70px;
}
.fb-link {
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.fb-button img {
  width: 25px;
  height: 25px;
}
.fb-button {
  cursor: pointer;
  gap: 15px;
  display: flex;
  align-items: center;
  background-color: #255a9b;
  width: 250px;
  height: 50px;
  color: white;
}
.ln-button img {
  width: 25px;
  height: 25px;
}
.ln-button {
  cursor: pointer;
  gap: 15px;
  display: flex;
  align-items: center;
  background-color: #0076b6;
  width: 250px;
  height: 50px;
  color: white;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 50px;
  margin-right: 25px;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  height: 3px;
  background: #eee;
}
.separator span {
  margin: 0 20px;
}
.email-and-phone {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 0px 0px 60px 70px;
  gap: 135px;
}
.email input {
  width: 215px;
  border: none;
  padding: 10px solid blue;
  font-weight: 600;
}
.email {
  color: #afafaf;
  flex-direction: row;
  width: 220px;
  height: 40px;
  border: 2px solid #eeeeee;
  border-left: 3px solid rgb(5, 184, 255);
  padding: 5px;
}
.phone input {
  width: 215px;
  border: none;
}
.phone {
  color: #afafaf;
  width: 220px;
  height: 40px;
  border: 2px solid #eeeeee;
  padding: 5px;
}
.investor-selection {
  margin-left: 70px;
  color: #7b8a92;
}
.investor-selection h3 {
  font-size: x-large;
  font-weight: 900;
}
.radio-group {
  display: flex;
  color: #2a4a5c;
  margin: 32px;
  gap: 8px;
  align-items: center;
}
.radio-group > input {
  cursor: pointer;
  content: "";
  padding: 20px;
  width: 20px;
  margin-left: 35px;
}
.info-icon {
  display: flex;
  width: 15px;
  height: 15px;
  flex-direction: column;
  cursor: pointer;
}
.title-box {
  color: #afafaf;
  font-size: 13px;
  width: 170px;
  height: 65px;
  padding: 15px;
  background-color: white;
  border: 10px;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 65px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.check-box {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 100px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 60px;
}
.check-box label {
  color: #afafaf;
  margin-left: 65px;
  margin-right: 30px;
  cursor: pointer;
}
.checkbox-btn {
  width: 10px;
}
.check-box a {
  color: #3698fb;
}
.create-acc {
  color: white;
  background-color: #3698fb;
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 65px;
}
.create-acc:hover {
  background-color: #2980b9;
}
