@font-face {
  font-family: "TTLakes-Regular";
  src: url("font/TTLakes-Regular.ttf") format("truetype");
}
* {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: "TTLakes-Regular", sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
}
.page__nav {
  border-bottom: 1px solid #d9fff5;
}
.page__menu {
  list-style-type: none;
  background-color: #ffffff;
  display: flex;
  padding: 0px 10px 0px 10px;
  gap: 10px;
}
.page__menu--elements {
  width: 40px;
  height: 40px;
  margin: 20px 0;
}
.logo {
  width: 96.55px;
  height: 50.81px;
  margin: 10px 10px 0 0;
}
.stick {
  margin: 22px 5px 0px 0px;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}
.stick-mobile {
  margin: 22px 5px 0px 0px;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}
.page__main {
  background-color: #f8f8f8;
}
.page__name {
  margin: 30px 0px 30px 0px;
  padding-left: 15px;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -0.6px;
  border-left: 4px solid #41f6d7;
  border-radius: 6px;
}
.page__nav-second {
  margin: 30px 0px 30px 0px;
}
.page__menu-second ul {
  display: flex;
  list-style-type: none;
  margin: 15px 0px 20px 0px;
}
.page__menu-second--elements {
  margin: 10px 10px;
  padding: 0px 15px;
}
.page__menu-second--elements a {
  text-decoration: none;
  color: #1b1c21;
}
.page__menu-second--elements.item1 {
  border: 2px solid #b8ffec;
  border-radius: 6%;
  background-color: #ffffff;
  margin-left: 15px;
}
.main-text {
  color: #1b1c21;
  margin: 0px 25px 0px 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}
.main__read-more {
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .page {
    grid-template-columns: repeat(1, 1fr);
  }
  .page__menu--elements.call,
  .page__menu--elements.chat,
  .page__menu--elements.profile,
  .stick,
  .main__above-768px,
  .main__above-1120px,
  .page__repair-check-status {
    display: none;
  }
  .big-space {
    width: 60%;
  }
  .logo-of-company {
    margin-top: 15px;
  }
  .page__menu-second {
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
  }
}
@media (min-width: 769px) {
  .page__menu--elements.call,
  .page__menu--elements.chat,
  .page__menu--elements.profile,
  .stick {
    display: block;
  }
  .stick-mobile,
  .main__above-1120px,
  .page__repair-check-status {
    display: none;
  }
  .big-space {
    width: 45%;
  }
  .page__menu-second {
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
  }
  .main-text {
    display: flex;
    grid-template-columns: repeat(1fr 1fr);
  }
  .logo-of-company {
    width: 360px;
    height: 208px;
  }
  .page__text p {
    margin-right: 30px;
  }
}
@media (min-width: 1120px) {
  .page__nav {
    display: none;
  }
  .main__above-1120px,
  .page__repair-check-status,
  .big-space {
    display: block;
  }
  .page__name {
    white-space: nowrap;
  }
  .logo-of-company {
    width: 531.35px;
    height: 307px;
  }
  .main-text {
    display: flex;
    grid-template-columns: repeat(2fr 2fr);
  }
  .page__menu-second ul {
    gap: 25px;
    flex-wrap: wrap;
    overflow-x: visible;
  }
  .page__new-menu {
    display: flex;
    gap: 35%;
  }
  .big-space {
    width: 50%;
  }
  .page__repair-check-status {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    margin-left: 80px;
    padding-left: 60px;
  }
  .page__repair-check-status a {
    text-decoration: none;
    color: #1b1c21;
    font-weight: bold;
  }
  .page__repair-check-status img {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
}
