@font-face {
  font-family: "TTLakes-Regular";
  src: url("font/TTLakes-Regular.ttf") format("truetype");
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "TTLakes-Regular";
  line-height: 1.6;
  background-color: #f8f8f8;
}
.page__menu {
  width: 100%;
  margin: 0px;
  position: fixed;
  top: 0px;
  height: 88px;
  list-style-type: none;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid #d9fff5;
  padding: 0px 15px;
}
.page__menu--elements {
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.logo {
  width: 96.55px;
  height: 50.81px;
}
.stick {
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}
.stick2 {
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}
.stick-mobile {
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}
.page__main {
  background-color: #f8f8f8;
}
.page__name {
  margin: 30px 0px 30px 0px;
  padding-left: 15px;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -0.6px;
  border-left: 4px solid #41f6d7;
  border-radius: 6px;
}
.repair {
  position: fixed;
  right: 75px;
}
.check-status {
  position: fixed;
  right: 20px;
}
.stick {
  position: fixed;
  right: 130px;
}
.profile {
  position: fixed;
  right: 150px;
}
.chat {
  position: fixed;
  right: 205px;
}
.call {
  position: fixed;
  right: 260px;
}
.page__menu-second ul {
  padding: 5px;
  gap: 10px;
  display: flex;
  list-style-type: none;
  margin: 5px 5px 10px 0px;
}
.page__menu-second--elements {
  margin: 5px 10px;
  padding: 0px 15px;
}
.page__menu-second--elements a {
  text-decoration: none;
  color: #1b1c21;
}
.page__menu-second--elements.item1 {
  border: 2px solid #b8ffec;
  border-radius: 6%;
  background-color: #ffffff;
  margin-left: 15px;
}
.main-text {
  margin: 15px 5px;
}
.main-text p {
  color: #1b1c21;
  font-weight: 400px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin: 10px 10px 10px 18px;
}
.main__read-more {
  display: flex;
  cursor: pointer;
  margin-left: 15px;
  font-weight: bold;
  gap: 5px;
}
@media (max-width: 768px) {
  .page {
    grid-template-columns: repeat(1, 1fr);
  }
  .page__menu--elements.call,
  .page__menu--elements.chat,
  .page__menu--elements.profile,
  .stick,
  .stick2,
  .main__above-768px,
  .main__above-1120px,
  .page__repair-check-status {
    display: none;
  }
  .page__name {
    margin-top: 120px;
  }
  .logo-of-company {
    margin-top: 20px;
  }
  .page__menu-second {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
  }
  .logo-of-company {
    width: 100%;
  }
}
@media (min-width: 769px) {
  .page__menu--elements.call,
  .page__menu--elements.chat,
  .page__menu--elements.profile,
  .stick {
    display: block;
  }
  .stick-mobile,
  .main__above-1120px,
  .page__repair-check-status {
    display: none;
  }
  .page__name {
    margin-top: 120px;
  }
  .page__menu {
    position: fixed;
  }
  .page__menu-second {
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
  }
  .main-text {
    display: flex;
    grid-template-columns: repeat(1fr 1fr);
  }
  .main-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  .logo-of-company {
    width: 360px;
    height: 208px;
  }
}
@media (min-width: 1120px) {
  .page__nav {
    display: none;
  }
  .main__above-1120px,
  .page__repair-check-status,
  .big-space {
    display: block;
  }
  .main__above-1120px {
    display: inline;
  }
  .page__name {
    white-space: nowrap;
    margin-top: 30px;
  }
  .logo-of-company {
    width: 531.35px;
    height: 307px;
  }
  .main-text {
    display: flex;
    grid-template-columns: repeat(2fr 2fr);
  }
  .main-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  .page__menu-second ul {
    padding: 5px;
    gap: 10px;
    flex-wrap: wrap;
  }
  .page__new-menu {
    display: flex;
  }
  .page__repair-check-status {
    display: flex;
    position: fixed;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    margin-left: 80px;
    padding-left: 60px;
    right: 30px;
    top: 30px;
  }
  .page__repair-check-status a {
    text-decoration: none;
    color: #1b1c21;
    font-weight: bold;
  }
  .page__repair-check-status img {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
}
